/* @override http://127.0.0.1:4000/css/style.css */






/* @group General */

* {
	-webkit-box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
body {
	height: 100%;
	padding: 0 0 0 0px;
	margin: 0;
	background: #fff;
}



h1 {
	font: 900 36px/48px 'Rye', 'Alegreya SC', 'Arbutus', "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #333;
}
h2 {
	font: 200 30px/48px 'Saira', "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-transform: capitalize;
	color: #333;
	letter-spacing: 0px;
}
h3 {
	font: 500 24px/30px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #333;
	letter-spacing: 1px;
}
h4 {
	font: 500 18px/30px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #444;
	letter-spacing: 1px;
}
p {
	font: 200 18px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #333;
}
ul,
ul > li {
	font: 200 18px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif!important;
	color: #333;
}
a {
	font: 200 18px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #444;
}
a:hover {
	color: #a82422;
}

/* @end */







/* @group Buttons */
.button {
	display: inline-block;
	position: relative;
	/*height: 48px;*/
	width: ;
	margin:0;
	padding: 12px 36px;
	border: 2px solid #fff;
	border-radius: 2px;	
	font: 200 16px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: 2px;
	cursor: pointer;
	text-transform: uppercase;
	text-decoration: none;	
	color: #fff;
	/*color: #ff6000;*/
	background: #333;
	border-color: #333;
	color: #fff;
}
.button:hover,
.button:active {
	color: #fff;
	background: #333;
	border-color: #333;
}
.button.dark {
	border-color: #000;
	color: #000;
}
.button.dark:hover {
	background: #000;
	color: #fff;
}

.button.red{
	
}


.button > .attention {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: 1px solid rgba(178, 54, 54, 1);
	border-radius: 3px;
	-webkit-animation: buttonpulse 1.5s ease-out infinite;
	        animation: buttonpulse 1.5s ease-out infinite;
}

/* @end */



/* @group Article */
article {
	max-width: 720px;
	margin: 0 auto;
	padding: 72px 0px;
	text-align: center;
}
article > :first-child {
	margin-top: 0;
}
article > :last-child {
	margin-bottom: 0;
}


article > hgroup {
	margin: 72px 0 48px 0;
	text-align: center;
}
article > h1 {
	margin: 36px 0;
}
article > h2 {
	margin: 0 0 36px 0;
}
article > p+h3  {
	margin: 72px 0 0 0;
}


article > blockquote > p {
	margin: 72px;
	text-align: center;
	font-size: 36px;
	font-weight: 100;
	letter-spacing: 1px;
	color: #b23636;
}
article > blockquote > p:before,
article > blockquote > p:after {
	content: '"';
}
article img {
	width: 100%;
}

article p {
	position: relative;
	margin: 0 0 12px 0;
	font-size: 20px;
	overflow: hidden;
}
article > h3+p {
	margin: 0 0 36px 0;
}
/*article > p:first-of-type:first-letter { 
	float: left; 
	color: #b23636; 
	font-size: 120px; 
	line-height: 96px; 
	vertical-align: top;
	padding-top: 12px; 
	padding-right: 24px; 
	padding-left: 3px; 
	font-family: Georgia; 
}*/
article > hr {
	height: 48px;
	border: none;
	border-top: 1px dotted #ccc;
}

article > ul {
	padding: 0 0 0 24px;
}
article > ul > li{
	/*margin: 36px 0;*/
	/*padding: 50px;*/
	font-size: 16px;
}


@media all and (max-width: 960px) {

article {
	padding: 72px 12px;
	text-align: left;
}

}

@media all and (max-width: 480px) {

article {
	padding: 36px;
}

}
/* @end */

/* @group CONTENT */
.content {
	position: relative;
	height: 100%;
	/*overflow: scroll;*/
}
.content > div {
	/*height: 100%;*/
	/*min-height: 100%;*/
	/*max-width: 720px;*/
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	background: #fff;
}
.content > section {
	max-width: 720px;
	margin: 0 auto;	
	padding: 48px 0;
}

@media all and (max-width: 1080px) {

.content section {
	padding: 36px;
}
}


/* @end */

/* @group Header */

header {
	position: fixed;
	width: 100%;
	z-index: 77777;
	display: block;
	height: 72px;
	
	transition: background 1s ease-in-out 0s;
}


header > div {
	position: relative;
	display: block;
	height: 72px;
	max-width: 960px;
	margin: 0 auto;
	/*border-bottom: 1px solid rgba(255,255,255,.15);*/
}


header > div > a {
	
	position: absolute;
	top: -120px;
	width: 150px;
	display: block;
	padding: 0px;
	text-decoration: none;
	
	transition: all .3s ease-in-out 0s;
	/*background: #ff1166;*/
	
}
header > div > a > strong {
	font: 900 16px/72px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #fff;
	vertical-align: middle;
}
header > div > a > img {
	display: inline-block;
	width: 100%;
	height: auto;
	/*position: absolute;*/
	/*top: 0px;*/
	/*left: 0px;*/
	vertical-align: middle;
	
}
header > div > a > img.dark {
	display: none;
}

header.dark > div > nav {
	transition: all .3s ease-in-out 0s;
}





header.dark {
	background: #88332b;
}
header.dark > div > a {
	display: inline-block;
	top: 9px;
}
header.dark > div > nav {
	text-align: right;
	padding: 0  12px0 172px;
}








header > .menu-button {
	display: none;
}




header > div > nav {
	/*float: right;
	padding: 0;*/
	text-align: center;
}
header > div > nav > a {
	display: inline-block;
	position: relative;
	margin: 0 9px 0 0;
	padding: 0 0px;
	font: 500 14px/72px 'Saira', "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: rgba(255,255,255,.5);
	color: #fff;
	border-radius: 24px;
	letter-spacing: 0;
}
header > div > nav > a:hover {	
	/*background: rgba(255,255,255,.25);*/
	color: #fff;
}
header > div > nav > a.selected {
	/*color: #000;*/
	/*background: #fff;*/
}
header > div > nav > a.selected:before  {
	content: '\00a0';
	position: absolute;
	left: 50%;
	top: 2px;
	width: 8px;
	height: 8px;
	margin: 0 0 0 -4px;
	background: #fff;
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
}
header > div > nav > a.selected:after  {
	content: '\00a0';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 6px;
	background: #fff;
}
header > div > nav > a:last-of-type {
	margin-right: 0;
}


header > div > nav > a.cta {
	box-shadow: 0px 0px 0px 3px #fff inset;
	background: #fff;
	padding: 0 18px;
	color: #000;
	line-height: 36px;
}
header > div > nav > a.cta:hover {
	background: #fff;
	color: #000;
}



@media all and (max-width: 960px) {
header {
	left: 0;
	margin: 0;
}
header > div > a {
	margin: 0 0 0 12px;
}
header > div > a > strong {
	display: none;
}
header > div > nav {
	padding-right: 12px;
}
header > div > nav > a {
	margin-right: 6px;
}
}






@media all and (max-width: 720px) {
header {
	position: fixed;
	z-index: 9999999;
	left: -250px;
	top: 0;
	height: 100%;
	width: 250px;
	padding: 175px 0px 0px 0px;
	background: #322725;
	
	background-size: cover;
	background-position: center;
	text-align: center;
	/*border-right: 1px solid rgba(255,255,255,.12);*/
	-webkit-transition: all .3s ease-in-out 0s;
	        transition: all .3s ease-in-out 0s;
	
}

header > div {
	display: block;
	width: 100%;
}

header > div > a {
	float: none;
	width: 100%;
	height: 175px;
	max-width: none;
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	padding: 0;
	/*background: #000000;*/
	text-align: center;
}
header > div > a > img {
	display: none;
}
header > div > a > img.dark {
	display: block;
	height: 80%;
	width: auto;
	margin: 5% auto;
}
header > div > a > h1 {
	font-size: 12px;
}
header > div > a > h1 > span {
	font-size: 24px;
	line-height: 36px;
}




header > .menu-button {
	display: block;
	position: absolute;
	z-index: 10000000000;
	right: -60px;
	top: 12px;
	width: 48px;
	height: 36px;
	cursor: pointer;
}
header > .menu-button > span {
	position: relative;
	display: block;
	background: #fff;
	height: 8px;
	margin: 6px 0;
	border-radius: 3px;
	-webkit-transition: all 1s ease-in-out 0s;
	        transition: all 1s ease-in-out 0s;
	box-shadow: 0px 1px 3px rgba(0,0,0,.5);
}






header > div > nav {
	position: relative;
	float: none;
	width: 100%;
	height: auto!important;
	padding: 24px 0;
	overflow-x: hidden;
	overflow-y: scroll;
	list-style: none;
	text-align: left;
}
header > div > nav > a {
	position: relative;
	margin: 0;
	padding: 0 0 0 24px;
	border: 1px solid rgba(0,0,0,0);
	display: block;
	text-decoration: none;
	font:200 18px/48px"Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	/*color: #000;*/
	letter-spacing: 1px;
	text-align: left;
}
header > div > nav > a.selected {
	font-weight: 400;
	/*background: #f5f5f5;*/
}
header > div > nav > a.selected:after {
	top: 0px;
	left: -1px;
	height: 100%;
	width: 4px;
}
header > div > nav > a.selected:before {
	top: auto;
	bottom: 50%;
	left: -1px;
	margin: 0 0 -4px 0;
}
header > div > nav > a.cta {
	display: inline-block;
	background: none;
	border: none!important;
	color: #fff;
	margin: 12px 0 0 24px;
}


header > div > nav > a.snipcart-checkout {
	position: fixed;
	top: 12px;
	right: 12px;
	width: auto;
	font-size: 48px;
	color: #fff;
	text-shadow: 0 1px 3px rgba(0,0,0,.5), 0 1px 1px rgba(0,0,0,.5);
}
header > div > nav > a.snipcart-checkout .snipcart-total-items {
	display: none;
	font-size: 18px;
	vertical-align: middle;
}

}

/* @end */







/* @group Header Open */

header.open {
	left: 0;
}
header.open > .menu-button {
	
}
header.open > .menu-button > span {
	-webkit-transition: all 1s ease-in-out 0s;
	        transition: all 1s ease-in-out 0s;	
			background: #000;
			box-shadow: none;
}
header.open > .menu-button > span.one {
	top: 14px;
	-webkit-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}
header.open > .menu-button > span.two {
	top: 0px;
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
}
header.open + .content {
	opacity: .25;
	filter: alpha(opacity=25);
}
header.open > .menu-button > span.three {
	opacity: 0;
	filter: alpha(opacity=0);
}

/* @end */



/* @group BANNER */
.banner {
	position: relative;
	height: 84%;
	min-height: 320px;
	/*margin: 0 0 48px 0;*/
	padding: 60px 0 96px;
	background: #000;
	background-position: center;
	background-size: cover;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	box-shadow: 0 150px 75px -75px rgba(0,0,0,.5) inset;
	overflow: hidden;
}
.banner.video {
	overflow: hidden;
}
.banner.small {
	height: 60%;
}



/*.banner > img {
	position: absolute;
	left: 50%;
	bottom: -200px;
	width: 960px;
	margin: 0 0 0 -480px;
	/*height: 100%;*!/
}*/

.banner:before {
	content: '\00a0';
	position: absolute;
	z-index: 200;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
}
/*.banner:before {
	content: '\00a0';
	position: absolute;
	z-index: 1000;
	left: 0;
	top: 100%;
	margin: -50px 0 0 -50%;
	width: 200%;
	height: 200px;
	background: #fff;
	transform: rotate(-2deg);
}*/
.banner:after {
	content: '\00a0';
	display: inline-block;
	width: 0;
	height: 100%;
	vertical-align: middle;
}
.banner > .banner-bottom {
	position: absolute;
	z-index: 10000;
	width: 110%;
	height: auto;
	left: -5%;
	bottom: -1;
}





.banner > hgroup {
	position: relative;
	z-index: 10000;
	display: inline-block;
	width: 100%;
	max-width: 800px;
	/*margin: 0 -.25em;*/
	vertical-align: middle;
	white-space: normal;
	text-align: center;
	margin: 0px 0 0 0;
	/*padding: 0 250px 0 0;*/
}
.banner > hgroup > img {
	/*display: none;*/
	width: 100%;
	max-width: 480px;
}
.banner > hgroup > h1 {
	margin: 0px 0 0 0;
	font: 900 50px/72px 'Saira', "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: 1px;
	text-shadow: 0 1px 3px rgba(0,0,0,.25);
	text-transform: uppercase;
	color: #fff;
	text-align: center;
}
.banner > hgroup > h1 > img {
	width: 36px;
	height: 36px;
	margin: -6px 0 0 0;
	vertical-align: middle;
}
.banner > hgroup > h2 {
	/*margin: 24px 0;*/
	max-width: 500px;
	margin: 0 auto;
	font: 200 3px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: 0px;
	color: rgba(255,255,255,1);
	/*text-transform: capitalize;*/
}

.banner > hgroup > ul {
	list-style: none;
	display: inline-block;
	/*border: 1px solid #fff;*/
	margin: 24px 0 0 0;
	padding: 24px;
	border-top: 2px solid #fff;
}
.banner > hgroup > ul > li {
	text-align: left;
	color: #fff;
	font-size: 20px;
	letter-spacing: 2px;
	text-transform: capitalize;
}
.banner > hgroup > ul > li:before {
	content: '\00a0';
	display: inline-block;
	width: 18px;
	height: 18px;
	margin: -3px 6px 0 0;
	background-image: url('/images/icons/check-green.png');
	background-size: cover;
	vertical-align: middle;
}

.banner > hgroup > .button {
	margin: 24px 0 0 0;
	border: 3px solid #fff;
	/*border-radius: 96px;*/
	background: none;
	font: 400 16px/18px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-transform: capitalize;
}
.banner > hgroup > p {
	color: #fff;
}
.banner > hgroup > .button > i {
	margin: 0 0 0 -18px;
}
.banner > hgroup > .button > img {
	height: 18px;
	width: 18px;
	vertical-align: middle;
	margin: -3px 12px 0 -18px;
}
.banner > hgroup > a > i {
	font-size: 18px;
	text-align: center!important;
	margin: 0px -18px 0 12px;
	padding: 8px;
	border-radius: 24px;
}



.banner > .scroll-cta {
	position: absolute;
	left: 50%;
	bottom: 24px;
	z-index: 10000000000;
	width: 72px;
	height: 72px;
	border-radius: 96px;
}
.banner+.scroll-cta {
	position: relative;
	left: 50%;
	bottom: 96px;
	z-index: 10000000000;
	width: 72px;
	height: 72px;
	margin: 0 0 -36px -36px;
	/*border: 1px solid #f2f2f2;*/
	border-radius: 96px;
	
	display: none;
}




@media all and (max-width: 720px) {
.banner {
	height: 48%;
	max-height: none!important;
	min-height: none!important;
	background-attachment: scroll;
	padding: 36px 0 96px 0;
}
.banner::before {
	background: rgba(0,0,0,.5);
}
.banner::after {
	height: 50%;
}
.banner > hgroup {
	padding: 24px;
	/*width: 50%;*/
	/*text-shadow: 0 1px 5px rgba(0,0,0,.5);*/
}
.banner > hgroup > img {
	display: inline-block;
	max-width: 200px;
	margin: 0 0 24px 0;
}
.banner > hgroup > h1 {
	margin: 0 0 0px 0;
	font-size: 32px;
	/*font: 900 4vw/5vw "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;*/
}
.banner > hgroup > h2 {
	display: inline-block;
	margin: 0;
	color: #fff;
	font-size: 16px;
}


}



@media all and (max-width: 320px) {

.banner {
	padding: 36px 0;
}
.banner > hgroup > img {
	max-width: 150px;
}
.banner > hgroup > h1 {
	position: relative;
	/*font: 900 8vw/12vw "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;*/
	font-size: 24px;
}
.banner > hgroup > h1 > img {
	/*position: absolute;*/
	/*display: block;*/
	/*margin: 6px auto;*/
}
.banner > hgroup > .button {
	display: none;
}

}
/* @end */




/* @group BG Vid */

video { display: block; }

video#bgvid { 
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 10;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover; 
}

/* @end */




/* @group Footer */

.footer {
	position: relative;
	background:  #333;
	padding: 24px ;
}
.footer:before {
	content: '\00a0';
	position: absolute;
	z-index: 200;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(5, 107, 171, .5);
	background: rgba(0,0,0,.25);
	background: url('../images/patterns/dark_wood.png') repeat left top;
	opacity: .5;
}
.footer > section {
	position: relative;
	z-index: 10000;
	max-width: 960px;
	margin: 0 auto;
	padding: 48px 48px 0 48px;
	text-align: center;
	overflow: hidden;
}



/* Logo */
.footer > section > a {
	display: block;
	margin: 0 auto 24px auto;
	text-decoration: none;	
	text-align: center;
}
.footer > section > a > img {
	display: block;
	margin: 0 auto;
	max-width: 480px;
}
.footer > section > a > h1 {
	display: inline-block;
	font: 100 14px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
}
.footer > section > a > h1 > strong {
	display: block;
	font-weight: 900;
	font-size: 18px;
	letter-spacing: 0;
}
.footer > section > a > h1 > span {
	letter-spacing: 11px;
	padding-left: 11px;
}



/* Nav */
.footer > section > nav {
	display: inline-block;
	padding: 12px;
	/*border: 1px solid #fff;*/
	border-left: none;
	border-right: none;
}
.footer > section > nav > a {
	margin: 0 6px;
	padding: 0px 6px 0 18px;
	font: 200 12px/12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0px;
	/*border: 1px solid #fff;*/
	/*border-radius: 3px;*/
	white-space: nowrap;
}
.footer > section > nav > a:hover {
	color: #fff;
	text-decoration: underline;
}
.footer > section > nav > a+a {
	border-left: 1px solid #fff;
}


/* Copyright */
.footer > section > .copyright {
	margin: 0 0 96px 0;
	font: 200 12px/16px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: 1px;
	color: rgba(255,255,255,.5);
}
.footer > section > .copyright > a {
	width: 24px;
}
.footer > section > .copyright > a > img {
	width: 100%;
	vertical-align: middle;
}




/* Social */
.footer > section > .social {
	margin: 0 0 24px 0;
}
.footer > section > .social > a {
	text-decoration: none;
	font-size: 24px;
	color: #fff;
	margin: 0 12px;
}
.footer > section > .social > a:hover {
	color: #a82422;
}



/* @end */


















/* @group Projects */

.projects {
	
}
.projects > ul {
	max-width: 1080px;
	margin: 0 auto;
	padding: 48px 24px;
	text-align: center;
}
.projects > ul > li {
	display: inline-block;
	width: 33%;
	margin: 0 0 0 -.25em;
	text-align: center;
}
.projects > ul > li > a {
	display: block;
	text-decoration: none;
}
.projects > ul > li > a > .photo {
	position: relative;
	top: 0;
	width: 100%;
	padding: 0;
	background-color: #f2f2f2;
	background-size: cover;
	background-position: center;
	
	transition: top .2s ease-out .2s;
}
.projects > ul > li > a > .photo > img {
	width: 100%;
}
.projects > ul > li > a > hgroup {
	margin: 24px 0;
}
.projects > ul > li > a > hgroup > h2 {
	font: 700 18px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-transform: uppercase;
}
.projects > ul > li > a > hgroup > h3 {
	font: 400 12px/12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #999;
}


.projects > ul > li > a:hover > .photo {
	top: -24px;
	
	transition: all .3s ease-in-out 0s;
}



@media all and (max-width: 960px) {

.projects > ul {
	overflow: hidden;
}
.projects > ul > li {
	width: 50%;
	max-width: 320px;
}

}



@media all and (max-width: 480px) {

.projects > ul > li {
	width: 100%;
	max-width: 240px;
}

}

/* @end */






/* @group Subscribe */

.subscribe > form {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 96px 0 0 0;
	white-space: nowrap;
	text-align: center;
}
.subscribe > form > h2 {
	margin: 0;
	white-space: normal;
	letter-spacing: 2px;
}
.subscribe > form > p {
	max-width: 350px;
	margin: 0 auto 24px auto;
	white-space: normal;
	font:200 16px/20px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: 0;
}
.subscribe > form > input {
	display: inline-block;
	width: 100%;
	max-width: 200px;
	height: 36px;
	padding: 0 12px;
	border: 3px solid #333;
	border-radius: 96px 0 0 96px;
	outline: none;
	font-size: 12px;
	color: #333;
}
.subscribe > form > button {
	display: inline-block;
	margin: 0 0 0 -.35em;
	padding: 12px 18px;
	border: none;
	border-radius: 0 96px 96px 0;
	font: 900 12px/12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: 1;
	background: #333;
}

/* @end */






/* @group Contact Info */

.content > .contact-info {
	position: relative;
	padding: 25vh 0 96px 0;
	margin: 0 auto;
	background: #fff;
	background-image: url(/images/patterns/wood_pattern.png);
	text-align: center;
	/*border: 24px solid #fff;*/

	
	/*clip-path: polygon(0 4%, 50% 0, 100% 4%, 100% 100%, 0% 100%);*/
}
.content > .contact-info > h1 {
	text-transform: uppercase;
}
.content > .contact-info > h2 {
	position: relative;
	z-index: 100;
	text-transform: capitalize;
}
.content > .contact-info > img {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
}
.contact-info > p {
	display: inline-block;
	position: relative;
	z-index: 900;
	width: 30%;
	max-width: 320px;
	margin: 0px auto;
	padding: 48px 6px;
	font: 200 16px/36px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #333;
	white-space: nowrap;
	text-align: center;
	letter-spacing: 1px;
	overflow: visible;
	vertical-align: bottom;
}
.contact-info > p > strong {
	margin: 0 0 12px 0;
	font: 700 12px/24px 'Rye', 'Alegreya SC', 'Arbutus', "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	display: block;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.contact-info > p > strong > img {
	display: block;
	margin: 0 auto;
	position: relative;
	top: -2px;
	width: 36px;
	vertical-align: middle;
}
.contact-info > p > span {
	font: 400 14px/16px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #999;
	display: inline-block;
}
.contact-info > p > a {
	position: relative;
	top: 0;
	display: block;
	margin: 12px 0 0 0;
	padding: 6px 12px;
	background: #333;
	box-shadow: 0 3px 0 #000;
	/*border: 3px solid #ccc;*/
	border-radius: 6px;
	text-decoration: none;
	font: 400 16px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #fff;
	transition: box-shadow .3s ease-in-out 0s, top .3s ease-in-out 0s;
}
.contact-info > p > a:hover {
	top: -3px;
	box-shadow: 0px 6px 0px #000;
}

.contact-info > p > img {
	display: block;
	width: 72px;
	margin: 0 auto 0 auto;
	padding: 3px 0px;
	text-align: left;
}
.contact-info > p > span:before {
	content: attr(title);
	font: 900 18px/12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	display: block;
	letter-spacing: 4px;
	text-transform: uppercase;
}




@media all and (max-width:840px) {

.contact-info {
	padding: 0 0 36px 0;
}
.contact-info > p {
	display: block;
	width: 100%;
	padding: 18px 0;
}
.contact-info > p > strong {
	margin: 0;
}
.contact-info > p > span {
	
}

}
/* @end */












/* @group Sections */

.sections {
	padding: 48px 24px;
	text-align: center;
}
.sections > ul {
	list-style: none;
}
.sections > ul > li {
	text-align: center;
	max-width: 540px;
	margin:  0 auto;
	padding: 48px 0;
}
.sections > ul > li > .icon {
	display: inline-block;
	width: 96px;
	height: 96px;
	margin: 0 0 12px 0;
	padding: 24px;
	border: 3px solid #000;
	border-radius: 96px;
	box-shadow: 0 0 0 2px #fff, 0 0 0 3px #000000 ;
}
.sections > ul > li > h4 {
	font: 900 18px/24px"Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-transform: capitalize;
}
.sections > ul > li > h4:after {
	content: '\00a0';
	display: block;
	width: 48px;
	height: 2px;
	margin: 24px auto;
	background: #000000;
}
.sections > ul > li > article {
	margin: 0 auto;
	padding: 0;
}
.sections > ul > li > article > ul {
	text-align: left;
}
.sections > ul > li > article > p:last-of-type {
	margin: 0;
}
.sections > ul > li > .button {
	margin: 12px 0 0 0;
}

/* @end */




/* @group VideoBlock */

.videoBlock {
	position: relative;
	z-index: 9999;
	max-width: 960px;
	margin: 0px auto 24px auto;
	padding: 24px 24px 0 24px;
}
.videoBlock > img {
	position: absolute;
	width: 90%;
	z-index: -10;
	left: 5%;
	bottom: -6%;	
}
@media all and (max-width: 720px) {

.videoBlock {
	
}

}

/* @end */







/* @group Video Wrapper */

.videoWrapper {
	/*box-sizing: content-box;*/
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 0px;
	height: 0;
}
.videoWrapper > iframe {
	position: absolute;
	z-index: 900;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.videoWrapper > img.thumbnail {
	position: absolute;
	z-index: 700;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	box-shadow: 0 0 2px rgba(0,0,0,.09);
}
.videoWrapper > img.play {
	position: absolute;
	z-index: 800;
	top: 50%;
	left: 50%;
	width: 48px;
	margin: -24px 0 0 -24px;
	opacity: .5;
	transition: all .1s ease-in 0s;
	cursor: pointer;
}
.videoWrapper:hover > img.play {
	opacity: 1;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	cursor: pointer;
}
.videoWrapper > .coming-soon {
	position: absolute;
	z-index: 700;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: default;
	background: #000;
}
.videoWrapper > .coming-soon::after {
	content: 'Coming Soon';
	text-transform: uppercase;
	position: relative;
	top: 60%;
	font: 400 18px/36px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: rgba(255,255,255,.5);	
}

/* @end */




/* @group Photo Gallery*/

.photo-gallery {
	max-width: 960px;
	margin: 0 auto;
	padding: 24px;
  /* Prevent vertical gaps */
  line-height: 0;
   
  -webkit-column-count: 5;
  -webkit-column-gap:   6px;
  -moz-column-count:    5;
  -moz-column-gap:      6px;
  column-count:         5;
  column-gap:           6px;  
  
  /*border-top: 6px solid #951d20;*/
}

.photo-gallery img {
  /* Just in case there are inline attributes */
  width: 100%!important;
  height: auto!important;
  margin-bottom: 6px;
}

/*
  .photo-gallery {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }*/


  .photo-gallery {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
  
.strp-window {
	z-index: 99999999;
}

@media (max-width: 800px) {
  .photo-gallery {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  .photo-gallery {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

/* @end */







/* @group Basic List */

.basic-list{
	text-align: center;
}
.basic-list> ul {
	
}
.basic-list> ul > li {
	display: inline-block;
	width: 30%;
	max-width: 320px;
	padding: 24px;
	vertical-align: top;
}
.basic-list> ul > li > a {
	display: block;
	text-decoration: none;
}
.basic-list> ul > li > .photo,
.basic-list> ul > li > a > .photo {
	position: relative;
	top: 0;
	width: 100%;
	/*max-width: 320px;*/
	background-color: #333;
	background-size: cover;
	background-position: center;
	
	transition: all 1s ease-out 0s;
}
.basic-list> ul > li:hover > .photo,
.basic-list> ul > li:hover > a > .photo {
	top: -12px;
	/*left: -2.5px;*/
	/*width: 245px;*/
	transition: all .3s ease-out 0s;
	background-position: right top;
}
.basic-list> ul > li >.photo > img,
.basic-list> ul > li > a > .photo > img {
	width: 100%;
}
.basic-list> ul > li > h3,
.basic-list> ul > li > a > h3 {
	overflow: hidden;
	padding: 12px;
	white-space: nowrap;
	text-overflow: ellipsis;
	font: 900 20px/24px"Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}


@media (max-width: 960px) {

.basic-list> ul > li {
	width: 48%;
	max-width: none;
	padding: 24px;
}

}

@media (max-width: 540px) {

.basic-list> ul > li {
	display: block;
	width: 100%;
	max-width: none;
	padding: 24px;
}

}


/* @end */






/* @group Posts */

.basic-list.posts {
	
}
.basic-list.posts > ul {
	
}
.basic-list.posts > ul > li {
	max-width: 540px;
}
.basic-list.posts > ul > li > a {
	text-decoration: none;
}
.basic-list.posts > ul > li > a > .photo {
	
}
.basic-list.posts > ul > li > a > hgroup {
	position: relative;
}
.basic-list.posts > ul > li > a > hgroup > h3 {
	position: relative;
	z-index: 100;
}
.basic-list.posts > ul > li > a > hgroup::before {
	content: '\00a0';
	display: block;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 70%;
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}
.basic-list.posts > ul > li > a > hgroup::after {
	content: 'Read More';
	position: relative;
	top: 12px;
	padding: 3px 9px;
	border: 1px solid #333;
	border-radius: 18px;
	font: 900 10px/12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #333;
	text-transform: uppercase;
}
.basic-list.posts > ul > li:hover > a > hgroup::after {
	background-color: #333;
	color: #fff;
}
.basic-list.posts > ul > li > a > hgroup > p {
	height: 75px;
	overflow: hidden;
	font: 400 15px/18px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

/* @end */






/* @group Horses */

.horses {
	
}
.horses > ul {
	
}
.horses > ul > li {
	max-width: 540px;
}
.horses > ul > li > .photo {
	max-width: none;
}
.horses > ul > li > h3 {
	padding-bottom: 0;
}
.horses > ul > li:hover > .photo {
	top: 0;
	background-position: #333;
}
.horses > ul > li > strong {
	font: 400 12px/16px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	border: 2px solid #333;
	border-radius: 96px;
	padding: 2px 12px;
	overflow: visible;
	color: #333;
}
.horses > ul > li > p {
	padding: 12px 0 0 0;
}

/* @end */

















/* @group ALTERNATING */
.alternating {
	margin: 0;
	padding: 0;
}
.alternating > h2 {
	text-align: center;
	max-width: 720px;
	margin: 96px auto 0 auto;
}
.alternating > div {
	position: relative;
	margin: 0 auto;
	padding: 5vh 0;
	/*border-bottom: 1px solid #ccc;*/
}

/*.alternating > div:before,
.alternating > div:after{
	content: '\00a0';
	display: block;
	position: absolute;
	z-index: 100;
	top: -12px;
	left: 0px;
	
	width: 100%;
	height: 24px;
	background: #fff;
}*/
.alternating > div:after {
	top: auto;
	bottom: -12px;
}


.alternating > div > img {
	position: absolute;
	z-index: 1000;
	left: 50%;
	top: -5%;
	height: 110%;
	margin: 0 0 0 48px;
	/*border: 10px solid #fff;*/
	box-shadow: 0px 3px 5px rgba(0,0,0,.15);
	/*clip-path: polygon(30% 0, 100% 1%, 100% 100%, 0 100%, 0 30%);	*/
	/*clip-path: circle(50% at 50% 50%);*/
}

.alternating > div > hgroup {
	position: relative;
	z-index: 1000;
	margin: 0 auto;
	padding: 12vh 50% 12vh 24px;
	overflow: hidden;
}
.alternating > div > hgroup > h2 {
	max-width: 480px;
	float: right;
}
.alternating > div > hgroup > article {
	float: right;
	max-width: 480px;
	margin: 0;
	padding: 0;
	text-align: right;
}
.alternating > div > hgroup > article > h2 {
	position: relative;
	margin: 0 0 24px;
	font: 600 22px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: inherit;
	text-transform: uppercase;
	
}
.alternating > div > hgroup > article > h2::after {
	position: absolute;
	bottom: -15px;
	right: 24px;
	content: '\00a0';
	display: block;
	width: 84px;
	height: 0px;
	margin: 24px 0 0 0;
	background: #333;
	transition: all .5s ease-in 0s;
	
	opacity: 0;
	
}
.alternating > div > hgroup:hover > article > h2::after {
	transition: all .3s ease-out 0s;
	opacity: 1;
	right: 0;
	height: 3px;
}
.alternating > div > hgroup > article > p {
	position: relative;
	top: 3px;
	font: 200 18px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin: 0 0 12px 0;
	color: inherit;
	
	color: rgba(0,0,0,.75);
	transition: all .5s ease-in 0s;
}
.alternating > div > hgroup:hover > article > p {
	color: #000;
	top: 0px;
	transition: all .3s ease-in 0s;
}

.alternating > div > hgroup > article > ul li {
	color: inherit;
}
.alternating > div > hgroup > article > ul > li > ul {
	padding: 0 0 0 24px;
}


.alternating > div > hgroup > .special-info {
	display: none;
	/*float: left;*/
	list-style: none;
	border: 1px dashed #ccc;
	border-radius: 3px;
	padding: 12px 24px;
}
.alternating > div > hgroup > .special-info > li {
	font: 200 18px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.alternating > div > hgroup > .special-info > li+li {
	margin: 6px 0 0 0;
}
.alternating > div > hgroup > .special-info > li:before {
	content: attr(title);
	display: block;
	font: 900 10px/14px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #666;
}


.alternating > div > hgroup > article > .photos {
	display: block;
	padding: 24px 0 0 0;
}
.alternating > div > hgroup > article > .photos > a {
	display: inline-block;
	width: 96px;
	height: 96px;
	background-color: #fff;
	background-size: cover;
	background-position: center;
	border: 3px solid #fff;
	box-shadow: 0 0 5px rgba(0,0,0,.5)inset;
}





.alternating > div:nth-of-type(even) {
	
	background: #f2f2f2;
}
.alternating > div:nth-of-type(even) > img  {
	left: auto;
	right: 50%;
	margin: 0px 48px 0 0;	
	/*clip-path: circle(50% at 50% 50%);*/
}
.alternating > div:nth-of-type(even) > hgroup {
	padding: 12vh 24px 12vh 50%;
}
.alternating > div:nth-of-type(even) > hgroup > article {
	float: left;
	max-width: 480px;
	text-align: left;
}
.alternating > div:nth-of-type(even) > hgroup > article > h2::after {
	left: 24px;
	right: auto;
}
.alternating > div:nth-of-type(even) > hgroup:hover > article > h2::after {
	left: 0px;
}






/*.alternating > div > .bg-img {
	position: absolute;
	z-index: 1;
	top: 0;
	left: -5%;
	width: 110%;
	height: 100%;
	/*transform: rotate(-1.5deg);*!/
	background-color: #f2f2f2;
	background-size: cover;
	background-position: center;
	/*border-top: 24px solid #fff;*!/
	box-shadow: 0 0 24px rgba(0,0,0,.06)inset;
	
	
}
.alternating > div > .bg-img:before {
	content: '\00a0';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10000;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
}
/*.alternating > div:last-of-type > .bg-img {
	border-bottom: 24px solid #fff;
}*!/
.alternating > div > .bg-img.blurry {
	filter: blur(6px);
}*/



.alternating > div.bg {
	position: relative;
	z-index: 10000;
}
.alternating > div.bg > hgroup > article,
.alternating > div.bg > hgroup > article > ul {
	color: #fff;
}
/*.alternating > div.bg > .bg-img:before {
	content: '\00a0';
	display: block;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, #000000 0%, rgba(0, 0, 0, 0) 72%);
}
.alternating > div.bg:nth-of-type(even) > .bg-img:before {
	background: linear-gradient(to left, #000000 0%, rgba(0, 0, 0, 0) 72%);
}*/











@media all and (max-width: 960px) {

.alternating {
	/*padding: 48px 0;*/
}
.alternating > h2 {
	margin: 0;
}
.alternating > div,
.alternating > div:nth-of-type(even) {
	padding: 96px 24px;
	text-align: center;
}
.alternating > div:first-of-type {
	margin-top: 0;
}
.alternating > div:before {
	
}



.alternating > div > img,
.alternating > div:nth-of-type(even) > img  {
	position: relative;
	left: auto;
	top: 0;
	margin: 24px 0 0 0;
	height: auto;
	width: auto;
	max-width: 100%;
	max-height: 320px;
	
	top: 0;
	right: auto;
	height: auto;
	margin: 0px 0 0 0;
}


.alternating > div > hgroup,
.alternating > div:nth-of-type(even) > hgroup {
	margin: 48px 0 0 0;
	padding: 0;
}


.alternating > div:nth-of-type(even) > hgroup > article,
.alternating > div > hgroup > article {
	display: inline-block;
	float: none;
	width: auto;
	max-width: none;
	text-align: center;
}
.alternating > div > hgroup > article > h2::after,
.alternating > div:nth-of-type(even) > hgroup > article > h2::after {
	position: relative;
	left: auto;
	right: auto;
	bottom: auto;
	top: 12px;
	display: block;
	margin: 0 auto;
}
.alternating > div > hgroup > article > p {
	color: #000;
}
.alternating > div > hgroup > article > ul {
	text-align: left;
}

.alternating > div.bg > .bg-img {
	
}
.alternating > div.bg > .bg-img:before {
	background: rgba(0,0,0,.5)!important;
}

}






@media all and (max-width: 480px) {

/*.alternating {
	padding: 0;
}
.alternating > div {
	
}
.alternating > div > hgroup > h2 {
	
}
.alternating > div > hgroup > article > p {
	font: 200 16px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}*/

}


/* @end */








.featured-article {
	
}
.featured-article > img {
	width: 60px;
}
.featured-article > h3 {
	font: 900 30px/48px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-transform: uppercase;
}
.featured-article > h3:after {
	content: '\00a0';
	display: block;
	width: 96px;
	height: 3px;
	background: #ccc;
	margin: 12px auto;
}
.featured-article > p {
	font: 200 24px/36px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}




.hiring {
	background: #88332b;
	max-width: 480px;
	margin: 24px auto 96px auto;
	padding: 96px 24px;
	border-radius: 12px;
	text-align: center;
	color: #fff;
}
.hiring > h1 {
	color: #fff;
	text-transform: uppercase;
}
.hiring > ul {
	color: #fff;
	list-style: none;
}
.hiring > ul > li {
	color: #fff;
}
.hiring > ul > li:before {
	content: "- ";
}
.hiring > h2 {
	color: #fff;
	margin: 24px 0 0 0;
	text-transform: uppercase;
}
.hiring > a {
	display: inline-block;
	color: #88332b;
	background: #fff;
	margin: 0px 0 12px 0;
	padding: 12px 24px;
	border-radius: 96px;
	text-decoration: none;
	font: 900 18px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}






