<div class="videoBlock" style="margin-top: 48px;">
	<div class="videoWrapper">
		<img data-video="{{ page.video_id }}" alt="Play this video" src="https://img.youtube.com/vi/{{ page.video_id }}/maxresdefault.jpg" class="thumbnail">
		<img src="/images/icons/play.svg" alt="" class="play" data-video="{{ campaign.youtube_video_id }}" />
		<!--<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ page.video_id }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>-->
	</div>
	<img src="/images/other/video_shadow.svg" alt="video shadow" />
</div>