---
layout: default
permalink: /
navtitle: Home
navclass: /
navorder: 1
hide_from_nav: true
banner_headline:
banner_animation:
banner_logo_path: /images/logos/logo-white.svg
banner_image_path:
banner_video_path: /videos/bg.mp4
video_id:
features:
  - feature_title: Convenient Location
    feature_image_path: /images/photos/location.jpg
    bg_image:
    feature_description_html: >-
      <p>We're located right on main street in Hurricane, UT giving you a convenient place to kickoff your next adventure.</p>
    button_url:
    button_text:
  - feature_title: Busses Welcome
    feature_image_path: /images/photos/pumps.jpg
    bg_image:
    feature_description_html: >-
      <p>We have plenty of space for busses, trucks and trailers.</p>
    button_url:
    button_text:
  - feature_title: Delicious Food
    feature_image_path: /images/photos/chicken.jpg
    bg_image:
    feature_description_html: >-
      <p>Wether you're craving snacks, need an ice cold drink or want a delicious hot meal. We've got you covered.</p>
    button_url:
    button_text:
  - feature_title: Loyalty Rewards
    feature_image_path: /images/photos/storefront.jpg
    bg_image:
    feature_description_html: >-
      <p>We offer the best loyalty rewards and cash back program around.</p>
    button_url:
    button_text:  
  - feature_title: Clean Bathrooms
    feature_image_path: /images/photos/bathrooms.jpg
    bg_image:
    feature_description_html: >-
      <p>We have a lot of bathrooms and we keep them very clean.</p>
    button_url:
    button_text:
---
{% include banner.html %}

<div class="hiring" id="hiring">
	<h1>We're Hiring!</h1>
	<ul>
		<li>Cashiers</li>
		<li>Line Cooks</li>
		<li>Maintenance</li>
		<li>And More</li>
	</ul>
	
	<h2>Apply Now</h2>
	<a href="mailto: {{site.data.info.email}}">{{ site.data.info.email }}</a>
</div>


<!--<article style="text-align: center;" id="vision" class="featured-article">
	<img src="/images/icons/eye.svg" alt="" />
	<h3>Our Vision</h3>
	<p>Raising the standard of living through innovative solutions that maximize market value.</p>
</article>

<article style="text-align: center;" id="mission" class="featured-article">
	<img src="/images/icons/mission.svg" alt="" />
	<h3>Our Mission</h3>
	<p>We excel in raising market value, generating superior returns for our investors and providing greater satisfaction for our customers. We foster a culture of continuous improvement and lasting relationships.</p> 
</article>-->



{% include alternating.html %}

<!--<div class="partners">
	<ul>
		<li>
			<a href="http://peakcapitalpartners.com/"><img src="/images/logos/peak-capital.png" alt="" /></a>
		</li>
	</ul>
</div>-->


<script type="text/javascript">
	$(window).scroll(function(){
	    if ($(this).scrollTop() > 50) {
	       $('header').addClass('dark');
	    } else {
	       $('header').removeClass('dark');
	    }
	});
</script>


